body {
    background: url("choinka.jpg") no-repeat;
    background-attachment: fixed;
    color: white;
    font-size: 1.5em;
    text-transform: capitalize;
    text-align: center;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.35);
}

p {
    font-size: 1.25em;
}

ul {
    line-height: 500%;
    list-style-type: none;
}

li {
    font-size: 2em;
    font-weight: bold;
}