body {
    margin: 0;
}

main {
    display: flex;
    width: 100%;
}

div {
    padding: 48px;
    display: flex;
    width: 20%;
    align-items: center;
}

img {
    width: 100%;
}

p {
    margin-left: 10px;
    text-align: center;
}